<div class="row">

<div class="col-md-4 col-md-offset-4">
<span> <img src="https://img.icons8.com/dusk/16/000000/fever.png" width="20px"/><h2 style="display:inline; margin-left: 10px;">Patient Data</h2></span>
</div>

    <div
    class="col-md-12"
    style="margin-top: 20px;"
    >

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> FirstName</th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phonenumber </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
      
          <ng-container matColumnDef="requirements">
            <th mat-header-cell *matHeaderCellDef> Requirements </th>
            <td mat-cell *matCellDef="let element"> {{element.requirements}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="openDialog(element)">Edit</button> </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"(click)="delete(element._id)" >Delete</button> </td>

          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

</div>


</div>


